* {
    margin: 0 auto;
}

.container {
    text-align: center;
    margin: 40px auto;
}

.intro {
    margin: 20px auto;
    font-size: 20px;
}

p {
    line-height: 1.5;
    font-size: 18px;
}

input {
    margin-bottom: 10px;
   
}

.address {
     width: 365px;
}

td, th {
    border: 1px solid grey;
    padding: 5px;
}

th {
    background-color: #EEEEEE;
}

table {
    border-collapse: collapse;
    margin-top: 10px;     
}

.number {
    text-align: center;
}

#map {
    margin-top: 20px;
    margin-bottom: 20px;
}
